*.swp
*.tmp
tags
Makefile
.qmake*
*.o
*.a
moc_*
*.moc
*.user
*.autosave
target_wrapper.sh
qrc_qml.cpp
build/
src/app/web-eid
tests-build/
tests/tests/web-eid-tests
build-web-eid-*/
CMakeSettings.json
.vs/
