QWidget {
background-color: #232325;
color: white;
}
QPushButton {
color: #FF5C79;
border-color: #FF5C79;
}
QPushButton:hover, QPushButton:pressed {
background-color: #232325;
}
#langButton {
color: #FFFFFF;
}
#langButton::hover {
background-color: #4E4E53;
}
CertificateWidget {
border-color: transparent;
}
CertificateButton {
background-color: rgba(255,255,255,0.1);
border-color: #749FCE;
}
CertificateButton:disabled {
background-color: rgba(255,255,255,0.1);
}
CertificateButton QWidget:disabled, CertificateWidget QWidget:disabled {
color: white;
}
CertificateButton:checked {
border-color: #749FCE;
background-color: #1A3E64;
}
/* CertificateButton QWidget:disabled, CertificateWidget QWidget:disabled */
#certificateStatus {
color: white;
background-color: #415982;
}
#certificateStatus[warning="true"] {
color: #FF5C79;
background-color: #4A2830;
}
QLineEdit {
border-color: #909299;
color: #FFFFFF;
}
QLineEdit[warning="true"] {
border-color: #FF5C79;
}
QProgressBar {
background-color: rgba(255,255,255,0.1);
border-color: #4E4E53;
}
QProgressBar::chunk {
background-color: #008EEA;
border-color: #003168;
}
#waitingPageTitleLabel, #messagePageTitleLabel, #selectCertificatePageTitleLabel, #pinInputPageTitleLabel, #aboutPageLabel  {
color: #FFFFFF;
}
#selectCertificateOriginLabel, #pinInputOriginLabel {
color: #B5BFCF;
background-color: #091A36;
border-color: #415982;
}
#pinTitleLabel {
color: white;
}
#pinErrorLabel {
color: #FF5C79;
}
#pinTimeRemaining {
color: #B5BFCF;
}
#aboutContent {
border-color: #4E4E53;
}
#fatalErrorLabel, #aboutAlert {
color: white;
}
#helpButton {
color: white;
}
#aboutVersion {
color: white;
}
#selectAnotherCertificate {
color: white;
}
