Source: web-eid
Section: web
Priority: optional
Maintainer: RIA <info@ria.ee>
Build-Depends:
 cmake,
 debhelper-compat (= 12),
 libpcsclite-dev,
 libssl-dev,
 libgtest-dev,
 qt6-tools-dev | qttools5-dev,
 qt6-l10n-tools | qttools5-dev-tools,
 libqt6svg6-dev | libqt5svg5-dev
Standards-Version: 4.5.1
Homepage: https://github.com/web-eid/web-eid-app

Package: web-eid
Architecture: all
Depends: web-eid-native
Recommends: web-eid-firefox, web-eid-chrome
Replaces: chrome-token-signing
Breaks: chrome-token-signing
Description: Web eID application suite (metapackage)
 The Web eID application and browser extensions enable usage of electronic
 ID smart cards for secure authentication and digital signing of documents
 on the web using public-key cryptography.

Package: web-eid-native
Architecture: any
Multi-Arch: foreign
Depends: pcscd, ${shlibs:Depends}, ${misc:Depends}
Replaces: token-signing-native
Breaks: token-signing-native
Suggests: web-eid-firefox, web-eid-chrome
Description: Web eID browser extension helper application
 Native messaging host for Web eID Chrome and Firefox extensions that performs
 cryptographic digital signing and authentication operations with electronic ID
 smart cards. Also works standalone without extensions in command-line mode.

Package: web-eid-firefox
Architecture: all
Depends: jq, web-eid-native
Replaces: token-signing-firefox
Breaks: token-signing-firefox
Suggests: firefox
Enhances: firefox
Description: Web eID browser extension for Firefox
 The Web eID extension for Firefox communicates with the Web eID native
 application using Native messaging to enable usage of electronic ID smart
 cards for secure authentication and digital signing of documents on the web.

Package: web-eid-chrome
Architecture: all
Depends: web-eid-native
Replaces: token-signing-chrome
Breaks: token-signing-chrome
Suggests: chromium, chromium-browser, chrome
Enhances: chromium, chromium-browser, chrome
Description: Web eID browser extension for Chrome
 The Web eID extension for Chrome communicates with the Web eID native
 application using Native messaging to enable usage of electronic ID smart
 cards for secure authentication and digital signing of documents on the web.
