#include <winver.h>

#define VER_STR_HELPER(x)	#x
#define VER_STR(x)		VER_STR_HELPER(x)

VS_VERSION_INFO VERSIONINFO
  FILEVERSION PROJECT_VERSION_MAJOR,PROJECT_VERSION_MINOR,PROJECT_VERSION_PATCH,PROJECT_VERSION_TWEAK
  PRODUCTVERSION PROJECT_VERSION_MAJOR,PROJECT_VERSION_MINOR,PROJECT_VERSION_PATCH,PROJECT_VERSION_TWEAK
  FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS VS_FF_DEBUG
#else
  FILEFLAGS 0x0L
#endif
  FILEOS VOS_NT_WINDOWS32
  FILETYPE VFT_APP
  FILESUBTYPE VFT_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0"
		BEGIN
			VALUE "CompanyName", "RIA"
			VALUE "FileDescription", "Web eID app"
			VALUE "FileVersion", VER_STR(PROJECT_VERSION_MAJOR.PROJECT_VERSION_MINOR.PROJECT_VERSION_PATCH+PROJECT_VERSION_TWEAK)
			VALUE "InternalName", "web-eid"
			VALUE "LegalCopyright", "Copyright (C) 2020 Estonian Information System Authority"
			VALUE "OriginalFilename", "web-eid.exe"
			VALUE "ProductName", "Web eID app"
			VALUE "ProductVersion", VER_STR(PROJECT_VERSION_MAJOR.PROJECT_VERSION_MINOR.PROJECT_VERSION_PATCH+PROJECT_VERSION_TWEAK)
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END
/* End of Version info */
