<?ifndef qt_suffix ?>
<?define qt_suffix="" ?>
<?endif?>

<?if $(env.VisualStudioVersion) = "17.0" ?>
<?define VCVER = "143" ?>
<?elseif $(env.VisualStudioVersion) = "16.0" ?>
<?define VCVER = "142" ?>
<?endif?>

<?if $(sys.BUILDARCH) = x86 ?>
  <?define ssl_suffix = "" ?>
<?else?>
  <?define ssl_suffix = "-$(sys.BUILDARCH)" ?>
<?endif?>

<?if $(var.qt_suffix) = "d" ?>
<?define VCPATH = "$(env.VCTOOLSREDISTDIR)\Debug_NonRedist\$(sys.BUILDARCH)\Microsoft.VC$(var.VCVER).DebugCRT" ?>
<?else?>
<?define VCPATH = "$(env.VCTOOLSREDISTDIR)\$(sys.BUILDARCH)\Microsoft.VC$(var.VCVER).CRT" ?>
<?endif?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="Web eID software" UpgradeCode="4f0e0fef-0dbc-481b-9d81-08921740f781"
      Language="1033" Version="!(bind.FileVersion.App)" Manufacturer="RIA">
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    <Icon Id="web_eid.exe" SourceFile="$(var.app_path)" />
    <Property Id="ARPPRODUCTICON" Value="web_eid.exe" />
    <Property Id="CHROMEINSTALL" Value="1" />
    <Property Id="CHROMEPOLICY" Value="0" />
    <Property Id="EDGEINSTALL" Value="1" />
    <Property Id="EDGEPOLICY" Value="0" />
    <Property Id="FIREFOXINSTALL" Value="1" />
    <MajorUpgrade AllowSameVersionUpgrades="yes" Schedule="afterInstallInitialize" DowngradeErrorMessage=
      "A newer version of [ProductName] is already installed. If you are trying to downgrade, please uninstall the newer version first." />
    <Launch Condition="Installed OR (VersionNT &gt;= 603)" Message="[ProductName] requires Windows 8.1 or higher." />
    <ui:WixUI Id="WixUI_Minimal2" />

    <!-- See https://github.com/web-eid/wix-custom-action-firefox-extension-install/blob/main/README.md and
         https://github.com/web-eid/wix-custom-action-firefox-extension-install/blob/main/src/FirefoxAction.cs
    -->
    <Binary Id="FirefoxAction.CA.dll" SourceFile="$(sys.SOURCEFILEDIR)FirefoxAction.CA.dll" />
    <CustomAction Id="ExtensionSettingsInstall" Return="check" Execute="deferred" Impersonate="no"
      BinaryRef="FirefoxAction.CA.dll" DllEntry="ExtensionSettingsInstall" />
    <CustomAction Id="ExtensionSettingsNoInstall" Return="check" Execute="deferred" Impersonate="no"
      BinaryRef="FirefoxAction.CA.dll" DllEntry="ExtensionSettingsRemove" />
    <CustomAction Id="ExtensionSettingsRemove" Return="check" Execute="deferred" Impersonate="no"
      BinaryRef="FirefoxAction.CA.dll" DllEntry="ExtensionSettingsRemove" />

    <CustomAction Id="SetExtensionSettingsForInstall" Property="ExtensionSettingsInstall"
      Value="EXTENSIONSETTINGS_UUID=$(var.FIREFOX_UUID);EXTENSIONSETTINGS_URL=$(var.FIREFOX_URL)" />
    <CustomAction Id="SetExtensionSettingsForNoInstall" Property="ExtensionSettingsNoInstall"
      Value="EXTENSIONSETTINGS_UUID=$(var.FIREFOX_UUID);EXTENSIONSETTINGS_URL=$(var.FIREFOX_URL)" />
    <CustomAction Id="SetExtensionSettingsForRemove" Property="ExtensionSettingsRemove"
      Value="EXTENSIONSETTINGS_UUID=$(var.FIREFOX_UUID);EXTENSIONSETTINGS_URL=$(var.FIREFOX_URL)" />

    <InstallExecuteSequence>
      <Custom Action="SetExtensionSettingsForInstall" Before="InstallInitialize" />
      <Custom Action="SetExtensionSettingsForNoInstall" Before="InstallInitialize" />
      <Custom Action="SetExtensionSettingsForRemove" Before="InstallInitialize" />
      <Custom Action="ExtensionSettingsInstall" Before="InstallFinalize"
        Condition="FIREFOXINSTALL=1 AND NOT REMOVE=&quot;ALL&quot;" />
      <Custom Action="ExtensionSettingsNoInstall" Before="InstallFinalize"
        Condition="FIREFOXINSTALL=0 AND NOT REMOVE=&quot;ALL&quot;" />
      <Custom Action="ExtensionSettingsRemove" Before="InstallFinalize"
        Condition="REMOVE=&quot;ALL&quot; AND NOT UPGRADINGPRODUCTCODE" />
    </InstallExecuteSequence>

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="Web eID">
        <File Id="App" Source="$(var.app_path)" />
<?ifdef var.qt_path ?>
        <File Source="$(var.VCPATH)\msvcp140$(var.qt_suffix).dll" />
        <File Source="$(var.VCPATH)\msvcp140_1$(var.qt_suffix).dll" />
        <File Source="$(var.VCPATH)\msvcp140_2$(var.qt_suffix).dll" />
        <File Source="$(var.VCPATH)\vcruntime140$(var.qt_suffix).dll" />
<?if $(sys.BUILDARCH) != x86 ?>
        <File Source="$(var.VCPATH)\vcruntime140_1$(var.qt_suffix).dll" />
<?endif?>
        <File Source="$(var.ssl_path)\libcrypto-3$(var.ssl_suffix).dll" />
        <File Source="$(var.ssl_path)\libssl-3$(var.ssl_suffix).dll" />
        <File Source="$(var.qt_path)\Qt6Core$(var.qt_suffix).dll" />
        <File Source="$(var.qt_path)\Qt6Gui$(var.qt_suffix).dll" />
        <File Source="$(var.qt_path)\Qt6Network$(var.qt_suffix).dll" />
        <File Source="$(var.qt_path)\Qt6Svg$(var.qt_suffix).dll" />
        <File Source="$(var.qt_path)\Qt6Widgets$(var.qt_suffix).dll" />
        <File Source="$(var.qt_path)\Qt6SvgWidgets$(var.qt_suffix).dll" />
<?if $(sys.BUILDARCH) != arm64 ?>
        <File Source="$(var.qt_path)\D3DCompiler_47.dll" />
        <File Source="$(var.qt_path)\opengl32sw.dll" />
<?endif?>
        <File Subdirectory="platforms" Source="$(var.qt_path)\..\plugins\platforms\qwindows$(var.qt_suffix).dll" />
        <File Subdirectory="styles" Source="$(var.qt_path)\..\plugins\styles\qmodernwindowsstyle$(var.qt_suffix).dll" />
        <File Subdirectory="imageformats" Source="$(var.qt_path)\..\plugins\imageformats\qsvg$(var.qt_suffix).dll" />
        <File Subdirectory="tls" Source="$(var.qt_path)\..\plugins\tls\qopensslbackend$(var.qt_suffix).dll" />
<?endif?>
        <Component Id="ChromeEdge" Transitive="yes" Condition="(CHROMEINSTALL = 1 OR EDGEINSTALL = 1)">
          <File Source="$(var.json)" />
          <RegistryValue Root="HKLM" Type="string" Value="[INSTALLFOLDER]eu.webeid.json"
            Key="SOFTWARE\Google\Chrome\NativeMessagingHosts\eu.webeid" />
        </Component>
        <Component Id="Firefox" Transitive="yes" Condition="(FIREFOXINSTALL = 1)">
          <File Source="$(var.jsonfirefox)" />
          <RegistryValue Root="HKLM" Type="string" Value="[INSTALLFOLDER]eu.webeid.firefox.json"
            Key="SOFTWARE\Mozilla\NativeMessagingHosts\eu.webeid" />
        </Component>
      </Directory>
      <Component Id="Chrome" Transitive="yes" Condition="(CHROMEINSTALL = 1)" Bitness="always32">
        <RegistryValue Root="HKLM" Type="string" Name="update_url"
          Key="SOFTWARE\Google\Chrome\Extensions\ncibgoaomkmdpilpocfeponihegamlic"
          Value="https://clients2.google.com/service/update2/crx" />
        <!-- Block chrome-token-signing extension to avoid conflicts -->
        <RegistryValue Root="HKLM" Type="string" Name="56791"
          Key="SOFTWARE\Policies\Google\Chrome\ExtensionInstallBlocklist"
          Value="ckjefchnfjhjfedoccjbhjpbncimppeg" />
      </Component>
      <Component Id="ChromePolicy" Transitive="yes" Condition="(CHROMEINSTALL = 1 AND CHROMEPOLICY = 1)" Bitness="always32">
        <RegistryValue Root="HKLM" Type="string" Name="56790"
          Key="SOFTWARE\Policies\Google\Chrome\ExtensionInstallForcelist"
          Value="ncibgoaomkmdpilpocfeponihegamlic" />
      </Component>
      <Component Id="Edge" Transitive="yes" Condition="(EDGEINSTALL = 1)" Bitness="always32">
        <RegistryValue Root="HKLM" Type="string" Name="update_url"
          Key="SOFTWARE\Microsoft\Edge\Extensions\gnmckgbandlkacikdndelhfghdejfido"
          Value="https://edge.microsoft.com/extensionwebstorebase/v1/crx" />
        <!-- Block chrome-token-signing extension to avoid conflicts -->
        <RegistryValue Root="HKLM" Type="string" Name="56791"
          Key="SOFTWARE\Policies\Microsoft\Edge\ExtensionInstallBlocklist"
          Value="fofaekogmodbjplbmlbmjiglndceaajh" />
      </Component>
      <Component Id="EdgePolicy" Transitive="yes" Condition="(EDGEINSTALL = 1 AND EDGEPOLICY = 1)" Bitness="always32">
        <RegistryValue Root="HKLM" Type="string" Name="56790"
          Key="SOFTWARE\Policies\Microsoft\Edge\ExtensionInstallForcelist"
          Value="gnmckgbandlkacikdndelhfghdejfido" />
      </Component>
    </StandardDirectory>
  </Package>
</Wix>
