# SPDX-FileCopyrightText: Estonian Information System Authority
# SPDX-License-Identifier: MIT

[Desktop Entry]
Type=Application

Exec=web-eid --about
Icon=web-eid

Name=Web eID

Categories=Qt;Office;
