name: CMake (Windows)

on: [push, pull_request]

env:
  BUILD_TYPE: RelWithDebInfo
  BUILD_NUMBER: ${{github.run_number}}

jobs:
  build:
    runs-on: windows-2019

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Prepare vcpkg and libraries
        uses: lukka/run-vcpkg@v7
        with:
          vcpkgArguments: gtest openssl
          vcpkgTriplet: x64-windows
          vcpkgGitCommitId: 98a562a04cd03728f399e79e1b37bcccb5a69b37

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: 6.5.2
          arch: win64_msvc2019_64

      - name: Setup MS Visual C++ dev env
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64

      - name: Configure
        run: |
          cmake "-GNinja" `
            "-DCMAKE_TOOLCHAIN_FILE=${env:VCPKG_ROOT}/scripts/buildsystems/vcpkg.cmake" `
            "-DCMAKE_BUILD_TYPE=${env:BUILD_TYPE}" -S . -B build

      - name: Build
        run: |
          cmake --build build --config ${env:BUILD_TYPE}
          cmake --build build --config ${env:BUILD_TYPE} --target installer
          cmake --build build --config ${env:BUILD_TYPE} --target bundle

      - name: Test
        run: ctest -V -C ${env:BUILD_TYPE} --test-dir build

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: web-eid-app-windows-build-${{github.run_number}}
          path: |
            build/src/app/*.msi
            build/src/app/*.exe
            build/**/*.pdb
