name: CMake (macOS)

on: [push, pull_request]

env:
  BUILD_TYPE: RelWithDebInfo
  BUILD_DIR: build
  BUILD_NUMBER: ${{github.run_number}}
  OPENSSL_ROOT_DIR: ${{ github.workspace }}/openssl-binary
  GTest_ROOT: ${{ github.workspace }}/gtest-binary
  QT_QPA_PLATFORM: offscreen
  CMAKE_BUILD_PARALLEL_LEVEL: 3
  MACOSX_DEPLOYMENT_TARGET: 13.0

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Cache
        uses: actions/cache@v4
        id: cache
        with:
          path: |
            ${{ env.OPENSSL_ROOT_DIR }}
            ${{ env.GTest_ROOT }}
          key: ${{ runner.os }}-deps

      - name: Build GTest
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          git clone --depth=1 https://github.com/google/googletest.git
          cmake -S googletest -B gtest-build \
            -DCMAKE_BUILD_TYPE=${BUILD_TYPE} \
            -DCMAKE_OSX_ARCHITECTURES="arm64;x86_64" \
            -DCMAKE_INSTALL_PREFIX=${GTest_ROOT} \
            -DCMAKE_CXX_STANDARD=20
          cmake --build gtest-build --target install

      - name: Build OpenSSL
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          git clone --depth=1 https://github.com/openssl/openssl.git -b openssl-3.5
          cd openssl
          for ARCH in x86_64 arm64; do
            ./Configure darwin64-${ARCH} --prefix=${OPENSSL_ROOT_DIR} no-apps no-shared no-module no-tests enable-ec_nistp_64_gcc_128
            MAKEFLAGS=-j1 make -s install_sw
            mv ${OPENSSL_ROOT_DIR}{,.${ARCH}}
            make distclean
          done
          cd -
          cp -a ${OPENSSL_ROOT_DIR}{.x86_64,}
          cd ${OPENSSL_ROOT_DIR}.arm64
          for i in lib/lib*.*; do
            lipo -create ${OPENSSL_ROOT_DIR}.x86_64/${i} ${i} -output ${OPENSSL_ROOT_DIR}/${i}
          done
          cd -

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: 6.9.3
          arch: clang_64

      - name: Configure
        run: cmake -DCMAKE_BUILD_TYPE=${BUILD_TYPE} -DCMAKE_OSX_ARCHITECTURES="arm64;x86_64" -B ${BUILD_DIR} -S .

      - name: Build
        run: |
          cmake --build ${BUILD_DIR} --config ${BUILD_TYPE}
          cmake --build ${BUILD_DIR} --config ${BUILD_TYPE} --target installer
          cmake --build ${BUILD_DIR} --config ${BUILD_TYPE} --target installer-safari

      #- name: Test
      #  run: ctest -V -C ${BUILD_TYPE} --test-dir ${BUILD_DIR}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: web-eid-app-macos-build-${{github.run_number}}
          path: |
            build/*/*/*.pkg
            build/*/*/*.dmg
